<html>
       <head>
           <title>Django Girls blog</title>
       </head>
       <body>
           <div>
               <h1><a href="">Django Girls Blog</a></h1>
           </div>

           <div>
               <p>published: 14.06.2014, 12:14</p>
               <h2><a href="">Esta es una prueba de mi primer post</a></h2>
               <p>Es un poco complejo pero con la práctica puede mejorar</p>
           </div>
           <div>
              <em> Hay que entender claramente el sentido del blog antes </em>
           </div>
           <div>
               <p>published: 14.06.2014, 12:14</p>
               <h2><a href="">Esta es una prueba de mi segundo post</a></h2>
               <p>Es divertido pero es bastante secuencial</p>
           </div>
       </body>
   </html>
